/** */

@media (width >= 620px) {

	.square-grid-wrapper {
		top: 0px;
		left: 0px;
		padding: 32px 32px 32px 32px;
		background-color: white;
		overflow-y: hidden;
	}

	.square-grid-deck {
		display: grid;
		/* flex-direction: row; */
		/* flex-wrap: wrap; */
		grid-template-columns: repeat(auto-fill, 256px);
		/*grid-template-rows: repeat(auto-fill, 208px);*/
		grid-gap: 32px 32px;
		grid-auto-flow: row dense;
		width: 100%;
		justify-content: center;
	}
}


@media (width < 620px) {

	.square-grid-wrapper {
		top: 0px;
		left: 0px;
		padding: 32px 0px 32px 0px;
		background-color: white;
		overflow-y: hidden;
	}

	.square-grid-deck {
		display: grid;
		/* flex-direction: row; */
		/* flex-wrap: wrap; */
		grid-template-columns: repeat(auto-fill, 44vw);
		grid-template-rows: repeat(auto-fill, 44vw);
		grid-gap: 4vw 4vw;
		grid-auto-flow: row dense;
		width: 100%;
		justify-content: center;
	}
}


/* all cards */

.square-grid-card {
	box-sizing: border-box;
	position: relative;
	padding: 8px;
	margin: 0px;
	border-radius: 16px;
	box-shadow: 0px 0px 4px rgb(172, 172, 172);
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: normal;
	overflow: hidden;
}


.square-grid-card h1 {
	font-size: 24px;
	padding: 2px 0px;
	margin: 8px 0px 4px 8px;
	width: fit-content;
	font-weight: bold;
}


.square-grid-card h2 {
	font-size: 18px;
	padding: 2px 0px;
	margin: 6px 0px 4px 8px;
	width: fit-content;
	font-weight: bold;
}

.square-grid-card p {
	font-size: 14px;
	padding: 0px;
	margin: 4px 16px 4px 8px;
	width: fit-content;
}


.square-grid-card ul {
	padding: 8px 0px 8px 16px;
	margin: 0px;
	width: fit-content;
}

.square-grid-card li {
	font-size: 14px;
	margin: 0px;
	padding: 4px;
	width: fit-content;
	color: rgb(38, 5, 84);
}



@media (width <= 620px) {
	.square-grid-card h1 {
		font-size: 20px;
	}
	.square-grid-card h2 {
		font-size: 16px;
		font-weight: normal;
	}
	.square-grid-card p {
		font-size: 12px;
	}
	.square-grid-card li {
		font-size: 12px;
	}
}


/* <size> */

@media (width >= 620px) {
	.square-grid-card[size="std"] {
		grid-column: auto / span 1;
		grid-row: auto / span 1;
		width: 256px;
		height: 256px;
	}

	.square-grid-card[size="large-horizontal"] {
		grid-column: auto / span 2;
		grid-row: auto / span 1;
		width: 544px;
		height: 256px;
	}

	.square-grid-card[size="large-vertical"] {
		grid-column: auto / span 1;
		grid-row: auto / span 2;
		width: 256px;
		height: 544px;
	}

	.square-grid-card[size="large-square"] {
		grid-column: auto / span 2;
		grid-row: auto / span 2;
		width: 544px;
		height: 544px;
	}
}

@media (width < 620px) {

	.square-grid-card[size="std"] {
		grid-column: auto / span 1;
		grid-row: auto / span 1;
		width: 44vw;
		height: 44vw;
	}

	.square-grid-card[size="large-horizontal"] {
		grid-column: auto / span 2;
		grid-row: auto / span 1;
		width: 92vw;
		height: 44vw;
	}

	.square-grid-card[size="large-vertical"] {
		grid-column: auto / span 1;
		grid-row: auto / span 2;
		width: 44vw;
		height: 92vw;
	}

	.square-grid-card[size="large-square"] {
		grid-column: auto / span 2;
		grid-row: auto / span 2;
		width: 92vw;
		height: 92vw;
	}
}

/* </size> */


/* <type> */

.square-grid-card[type="create"] {
	border-radius: 24px;
	border: 8px dashed rgb(204, 204, 204);
	background-color: white;
	overflow: hidden;
	color: rgb(200, 200, 200);
}

.square-grid-card[type="create"]:hover {
	border-color: aqua;
}



.square-grid-card[type="access"] {
	border: 1px solid rgb(182, 182, 182);
	background-color: white;
	background-image: url("/S8-pkgs-ui-carbide/collections/grids/pics/turbine-pic.png");
	background-size: cover;
	overflow: hidden;
}

.square-grid-card[type="access"]:hover {
	outline: 8px solid rgb(203 223 255);
}


/* </type> */



/* <theme> */
.square-grid-card[theme="light"] {
	border-color: rgb(204, 204, 204);
}

.square-grid-card[theme="light"] h1 {
	color: rgb(36, 36, 36);
}

.square-grid-card[theme="light"] h2 {
	color: rgb(36, 36, 36);
}

.square-grid-card[theme="light"] p {
	color: rgb(36, 36, 36);
	/*text-shadow: 0px 0px 4px white;*/
}

.square-grid-card[theme="light"] li {
	color: rgb(38, 5, 84);
	/*text-shadow: 0px 0px 4px white;*/
}



.square-grid-card[theme="dark"] {
	border-color: rgb(80, 80, 80);
}

.square-grid-card[theme="dark"] h1 {
	color: white;
}

.square-grid-card[theme="dark"] h2 {
	color: white;
}

.square-grid-card[theme="dark"] p {
	color: white;
}

.square-grid-card[theme="dark"] li {
	color: rgb(253, 226, 255);
	/*text-shadow: 0px 0px 4px white;*/
}

/* </theme> */


.square-grid-card-group {
	background-color: aliceblue;
	font-size: 14px;
	padding: 2px 8px;
	/* margin-left: 8px; */
	border-radius: 8px;
	width: fit-content;
}

/* <link> */
.square-grid-card-link {
	color: white;
	font-size: 14px;
	font-weight: bold;
    padding: 4px 12px 4px 4px;
    margin: 16px 8px 8px 8px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
	background-color: #3862fbca;
	/*background-image: linear-gradient(to right, #3525e5 0%, #3525e5  20%, #b214d2 100%);*/
	border-radius: 20px;
	cursor: pointer;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.367);
}

.square-grid-card-link:hover {
	background-color: #476bed;
}

.square-grid-card-link-pic {
	width: 24px;
	height: 24px;
	margin: 0px;
	padding: 0px;
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
}

.square-grid-card-link-pic > svg {
	stroke: #ffffff;
	fill: #ffffff;
}

.square-grid-card-link-text {
	padding-bottom: 2px;
	font-size: 14px;
	margin-left: 8px;
	color: #ffffff;
}



.square-grid-card-link:hover > .square-grid-card-link-pic >svg {
	stroke: white;
	fill: white;
}

.square-grid-card-link:hover > .square-grid-card-link-text{
	color: white;
}

/* </link> */

.square-grid-card-point {
	font-size: 14px;
	padding: 8px 16px 8px 8px;
	margin: 4px;
	width: fit-content;
	display: flex;
	flex-direction: row;
	align-items: start;
	gap: 16px;
}

.square-grid-card-point-icon {
	width: 32px;
	height: 32px;
	margin: 0px;
	padding: 0px;
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
}


.square-grid-card[theme="light"] .square-grid-card-point-icon>svg {
	fill: black;
	stroke: black;
}

.square-grid-card[theme="dark"] .square-grid-card-point-icon>svg {
	fill: white;
	stroke: white;
}

.square-grid-card-point-text {
	border-left: solid 1px rgba(44, 44, 44, 0.906);
	padding-left: 8px;
}




/* <create-card> */


/* <mobile-hideable> */

@media (width <= 620px) {
	.square-grid-mobile-hideable {
		display: none;
	}
}

/* </mobile-hideable> */

.square-grid-card-create-header {
	font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 128px;
	font-weight: bold;
	letter-spacing: -0.016em;
	text-align: center;
	margin-top: 4px;
	margin-bottom: 4px;
	color: rgb(200, 200, 200);
}

.square-grid-card-create-body {
	font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: -0.016em;
	text-align: center;
	margin-top: 4px;
	margin-bottom: 4px;
	color: rgb(200, 200, 200);
}

/* <create-card> */



/* <repository-card> */


.square-grid-card-access[selected] {
	border: 2px solid #769ff4;
	box-shadow: 0px 0px 4px rgb(103, 143, 167);
}


.square-grid-card-access-image {
	height: 128px;
	width: 100%;
	background-image: url("/S8-pkgs-ui-carbide/collections/grids/pics/turbine-pic.png");
	background-size: cover;
	border-bottom: 1px solid rgb(182, 182, 182);
}


.square-grid-card-access-panel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: -0.016em;
	text-align: left;
	margin: 6px 8px 0px 8px;
	max-height: 32px;
	color: white;
}

.square-grid-card-access-panel>h1 {
	width: fit-content;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: -0.016em;
	text-align: left;
	margin: 10px 2px 0px 2px;
	padding: 2px 6px 2px 6px;
}

.square-grid-card-access-panel>h2 {
	width: fit-content;
	display: block;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: -0.016em;
	text-align: left;
	margin: 10px 8px 0px 8px;
	padding: 2.25px 8px;
	background-color: rgb(53, 53, 53);
	border-radius: 9px;
}

.square-grid-card-access-panel>p {
	width: fit-content;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.016em;
	text-align: left;
	margin: 10px 8px 0px 8px;
	padding: 0px;
}

.square-grid-card-access-info {
	font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: -0.016em;
	text-align: left;
	height: 32px;
	margin: 6px 8px 12px 8px;
	text-overflow: ellipsis;
}


.square-grid-card-access-popover-root {
	height: 16px;
	width: 16px;
	position: relative;
	margin-left: 72px;
}

/* </repository-card> */